{%- macro write_ruby(word) -%}
    {%- for character in word.split_characters() -%}
        {%- if not character.furigana -%}
            {{ character.main }}
        {%- else -%}
            <ruby>{{ character.main }}
                <rt>{{ character.furigana }}</rt>
            </ruby>
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
{% macro create_tooltip_section(title, content, words=None, is_header=False) %}
    <div class="section">
        <div class="section-header">
            <span>{{ title }}</span>
            {% if is_header %}<span class="tooltip-close" onclick="hideTooltip()">x</span>{% endif %}
        </div>
        <div class="section-content">
        {% if not words %}
            {{ content }}
        {% else %}
            <p class="word">{% for word in words %}{{ write_ruby(word) }}{% endfor %}</p>
            <div class="tooltip-paragraph">{{ content }}</div>
        {% endif %}
        </div>
    </div>
{%- endmacro -%}

<!DOCTYPE html>
<html>
<head>
    <title>{{ header["title"] }} - {{ header["author"] }} | Ririkon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
            name="description"
            content="Annotated translation of {{ header["title"] }} by {{ header["author"] }}."
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <base target="_blank">
    <style media="screen">
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

        body {
            margin: 0;
            font-family: "Noto Sans", "Noto Sans JP", sans-serif;
        }

        #wrapper {
            margin: 0 auto;
            max-width: 768px;
            font-size: 1.2em;
            position: relative;
        }

        #header {
            background-color: cornflowerblue;
            color: white;
            padding: 20px;
            display: flex;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        img#cover {
            height: 150px;
            margin-right: 20px;
        }

        #title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }

        #header a {
            text-decoration: none;
        }

        #body {
            padding: 20px;
        }

        .sentence {
            display: flex;
            height: 2.5em;
        }

        .word, .translation {
            display: flex;
            border-bottom: 5px solid white;
            align-items: end;
        }

        .word:hover, .word.active {
            margin-bottom: 0;
            border-bottom: 5px solid cornflowerblue;
        }

        .punctuation:hover {
            margin-bottom: 0;
            border-bottom: 5px solid white;
        }

        .punctuation.active {
            margin-bottom: 0;
            border-bottom: 5px solid cornflowerblue;
        }

        .translation {
            margin-left: 0.5em;
        }

        .translation:hover {
            cursor: pointer;
        }

        .tooltip-content {
            display: none;
        }

        .tooltip-paragraph {
            margin-top: 10px;
        }

        .note_group {
            margin-bottom: 4px;
            border-bottom: 1px dashed black;
        }

        /* Customize ruby appearance to avoid spacing issues */
        ruby {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
        }

        ruby rt {
            text-align: center;
            margin-bottom: -0.4em;
        }

        #tooltip {
            box-sizing: border-box;
            position: absolute;
            z-index: 1;
            min-width: 100%;
            border: 1px solid black;
            background-color: white;
        }

        #tooltip .section {
            margin-bottom: 10px;
        }

        #tooltip .section:last-child {
            margin-bottom: 0;
        }

        #tooltip .section-header {
            background-color: cornflowerblue;
            padding: 10px;
            color: white;
        }

        #tooltip .section-content {
            padding: 10px;
        }

        #tooltip .section-content p {
            margin: 0;
            padding: 0;
        }

        #tooltip .tooltip-close {
            cursor: pointer;
            float: right;
            line-height: 100%;
        }

        #tooltip p.word {
            border: 0;
        }

        #tooltip p.word:hover {
            border: 0;
        }

        #footer-note {
            padding: 20px;
            border-top: 1px solid #262626;
            font-size: 0.8em;
            color: #262626;
        }

        #fine-print {
            padding: 20px;
            border-top: 1px solid gray;
            font-size: 0.7em;
            color: gray;
        }
    </style>
    <script>
        let justClicked = false;
        let activeElements = [];

        function cleanActiveElements() {
            for (let child of activeElements) {
                child.classList.remove("active");
            }
            activeElements = [];
        }

        function showTooltip(element) {
            cleanActiveElements();
            const tooltip = document.getElementById("tooltip");
            tooltip.innerHTML = element.getElementsByClassName("tooltip-content")[0].innerHTML;
            tooltip.style.visibility = 'visible';
            tooltip.style.top = (window.scrollY + element.getBoundingClientRect().bottom) + "px";
            justClicked = true;
        }

        function hideTooltip() {
            cleanActiveElements();
            const tooltip = document.getElementById("tooltip");
            tooltip.style.visibility = 'hidden';
        }

        function activateWord(element) {
            element.classList.add("active");
            activeElements = [element];
        }

        function activateSentence(element) {
            activeElements = [];
            const sentence = element.parentNode;
            for (let child of sentence.children) {
                if (child.classList.contains("word")) {
                    child.classList.add("active");
                    activeElements.push(child);
                }
            }
        }

        window.onload = function () {
            const tooltip = document.getElementById("tooltip");

            document.onclick = function (event) {
                if (justClicked) {
                    justClicked = false;
                    return;
                }

                if (tooltip.style.visibility === 'visible' && !tooltip.contains(event.target)) {
                    hideTooltip();
                }
            }

            document.onkeydown = function (event) {
                if (event.key === 'Escape' && tooltip.style.visibility === 'visible') {
                    hideTooltip();
                }
            }
        }
    </script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <a href="{{ header["music_video"] }}">
            <img id="cover" src="{{ header["cover_art"] }}"/>
        </a>
        <div id="title">
            <h1>{{ header["title"] }}</h1>
            <h2>{{ header["author"] }}</h2>
        </div>
        <div><a href="." target="_self">↩️</a></div>
    </div>
    <div id="tooltip" style="visibility: hidden"></div>
    <div id="body">
        {% for sentence in body %}
            {% if not sentence %}
                <br/>
            {% else %}
                <div class="sentence">
                    {%- for word in sentence.words -%}
                        {%- if not word.is_punctuation -%}
                            <div class="word{% if word.note_group %} note_group{% endif %}"
                                 onclick="showTooltip(this);activateWord(this)">
                                {{- write_ruby(word) -}}
                                <div class="tooltip-content">
                                    {% for tooltip in word.tooltips %}
                                        {% if loop.first %}
                                            {{ create_tooltip_section(title=tooltip.title, words=tooltip.words, content=tooltip.content_html, is_header=True) }}
                                        {% else %}
                                            {{ create_tooltip_section(title=tooltip.title, words=tooltip.words, content=tooltip.content_html, is_header=False) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {%- else -%}
                            <div class="word punctuation">{{ word.writing }}</div>
                        {%- endif -%}
                    {%- endfor -%}
                    <div class="translation" title="translation"
                         onclick="showTooltip(this);activateSentence(this)">
                        🔄
                        <div class="tooltip-content">
                            {{- create_tooltip_section(title="Translation", content=sentence.translation, is_header=True) -}}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {%if header["footer_notes"] %}<div id="footer-note">{{ header["footer_notes"] }}</div>{% endif %}
    <div id="fine-print">
        <p>Check the source and contribute to the translation <a href="https://github.com/msilvestro/ririkon">here</a></p>
        <p>Made with <a href="https://github.com/msilvestro/emeraldya">Emeraldya</a></p>
    </div>
</div>
</body>
</html>